<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
    </head>
    <body>

        <div class="container">
<h1>Status</h2>
{% ifequal response.status "green" %}
  <div class="alert alert-success">
    <strong>OK</strong>
  </div>
{% endifequal %}

{% ifequal response.status "yellow" %}
  <div class="alert alert-warning">
    <strong>Yellow</strong>
  </div>
{% endifequal %}

{% ifequal response.status "red" %}
  <div class="alert alert-danger">
    <strong>Red</strong>
  </div>
{% endifequal %}


<h3>Nodes</h3>

<table class="table table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th>CPU</th>
    <th>Users</th>
    <th>Heartbeat</th>
    <th>Bandwidth</th>
    <th>Usage</th>
    <th>Uptime</th>
    <th>Score</th>
    <th>Selfcheck</th>
  </tr>
</thead>
<tbody>
  {% for node in nodes %}
    {% if not node.alive %}
      <tr class="danger">       
    {% else %}
      {% if node.score > 99 %}
        <tr class="warning">
      {% else %}
        {% ifequal "0" node.score %}
          <tr class="warning">
        {% else %}
          <tr>
        {% endifequal %}
      {% endif %}
    {% endif %}
        <td>{{ node.name }}</td>
        <td>{{ node.cpu|double-format:0 }} % </td>
        <td>{{ node.usercount }}</td>
        <td>{{ node.heartbeat_age|double-format:1 }} mins</td>
        <td>{{ node.throughput }} </td>
        <td>{{ node.total_throughput }} </td>
        <td>{{ node.uptime }}</td>
        <td>{{ node.score }} </td>
        <td>{{ node.selfcheck }} </td>
    </tr>
  {% endfor %}
</tbody>
<tfoot>
    <tr>
      <td>Count: {{nodes|count}}</td>
      <td><!-- cpu --></td>
      <td>{{ usersum  }}</td>
      <td><!-- heartbeat --></td>
      <td>{{ bandwidthsum }}</td>
      <td>{{ totalsum }}</td>
      <td><!-- uptime --></td>
      <td><!-- score --></td>
      <td><!-- selfcheck --></td>
    </tr>
</tfoot>
</table>

<h3>Disabled nodes (<a id="disabled_heading"><small>show</small></a>)</h3>
<table class="table table-hover" style="display:none" id="disabled_table">
<thead>
  <tr>
    <th>Name</th>
    <th>CPU</th>
    <th>Users</th>
    <th>Heartbeat</th>
    <th>Bandwidth</th>
    <th>Usage</th>
    <th>Uptime</th>
    <th>Score</th>
    <th>Selfcheck</th>
  </tr>
</thead>
<tbody>
  {% for disabled-node in disabled %}
    {% if not disabled-node.alive %}
      <tr class="danger">       
    {% else %}
      {% if disabled-node.score > 99 %}
        <tr class="warning">
      {% else %}
        {% ifequal "0" disabled-node.score %}
          <tr class="warning">
        {% else %}
          <tr>
        {% endifequal %}
      {% endif %}
    {% endif %}
        <td>{{ disabled-node.name }}</td>
        <td>{{ disabled-node.cpu|double-format:0 }} % </td>
        <td>{{ disabled-node.usercount }}</td>
        <td>{{ disabled-node.heartbeat_age|double-format:1 }} mins</td>
        <td>{{ disabled-node.throughput }} </td>
        <td>{{ node.total_throughput }} </td>
        <td>{{ disabled-node.uptime }}</td>
        <td>{{ disabled-node.score }} </td>
        <td>{{ disabled-node.selfcheck }} </td>
          </tr>
  {% endfor %}
</tbody>
</table>


            <div class="footer">
              <p>Lokun 2013</p>
            </div>
        </div>

        <!-- scripts and styles -->
        {% style "/css/bootstrap-theme.min.css" %}
        {% style "/css/bootstrap.min.css" %}
        {% style "/css/screen.css" %}
        {% style "/css/jumbotron-narrow.css" %}
        <script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
        {% script "/js/bootstrap.min.js" %}
        <script type="text/javascript">
            var context = "{{servlet-context}}";
        </script>
        <script type="text/javascript">
          $("#disabled_heading").click(function(){
              $("#disabled_table").toggle()
          });
</script>

    </body>
</html>

